.modal-content {
  width: 360px;
}

.card-header {
  align-items: center;
}

.card-body {
  padding: .75rem;
}

.btn-sm {
  margin-right: 1.25rem;
  color: white;
  padding: .1rem 1.25rem;
  font-size: 1.1rem;
}
